#u1{
  
    padding-left: 13em;
    background-color: darkgray;
}
#u4
{
     position: relative;
     left: 10px;
     top: 5px;
     bottom:5px;
     padding: 7px;

}
h2{
    font-family: Arial, Helvetica, sans-serif; 
}
#u3
{
    position: relative;
     left: 10px;
     top: 5px;
     bottom:5px;
     padding: 7px;
}
.a1
{
    text-align: right;
}
body{
    background-color: dimgrey;